
h3{
    font-weight: 300;
}

.content{
    margin: 0 auto;
    text-align: center;
}


a{
    color: white;
    text-decoration: none;
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px;
    border-radius: 5px;
    margin: 2em auto;
  }