/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body{
    background-color: #151515;
}

.container{
    color: white;
    width: 60vw;
    margin: 0 auto;
}
a{
  color: white;
  text-decoration: none;
  background-color: #28a745;
  border-color: #28a745;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}
